<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartIme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartIme.Properties.Settings>
            <setting name="DefaultIme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FloatingHintBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FloatingHintOpacity" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="FloatingHintFont" serializeAs="String">
                <value>微软雅黑, 10pt, style=Bold</value>
            </setting>
            <setting name="FloatingHintTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ImeColors" serializeAs="String">
                <value />
            </setting>
        </SmartIme.Properties.Settings>
    </userSettings>
</configuration>